* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #c8d9eb;
}

/* Tab styling */
.tab {
    float: left;
    background-color: #29485c;
    width: 15%;
    height: 100vh;
}

.tab button {
    display: block;
    background-color: inherit;
    color: white;
    padding: 22px 50px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
}

.tab button:hover {
    background-color: #354a54;
}

.tab button.active {
    background-color: #354a54;
}

#tablogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 30px;
    padding-bottom: 10px;
}

.tab h2 {
    color: white;
    font-size: 32px;
    text-align: center;
    padding-bottom: 40px;
}

#profilepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 30px;
    padding-bottom: 7px;
}

.tab h3 {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-bottom: 40px;
}

.buttonlogos {
    width: 35px;
    padding-right: 15px;
}

.header {
    background-color: white;
    padding: 30px;
}
