* {
    font-family: 'Arial Unicode MS', sans-serif;
    margin: 0;
}

body {
    overflow: hidden;
}

#viewport {
    display: flex;
}

.blur {
    filter: blur(2px);
}

/*

    TOP TAB

*/

#toptab {
    display: flex;
    padding-top: 15px;
    padding-bottom: 16px;
    font-size: 22px;
    font-weight: bold;
    background-color: #edeff0;
    color: #1a1d26;
    border-bottom: 2px solid #dedede;
}

#logo {
    padding-left: 25px;
    padding-right: 13px;
    width: 25px;
    margin-bottom: -2px;
}

#toptab input {
    margin-left: 40px;
    padding-left: 10px;
    width: 300px;
    border: 2px solid #dedede;
    border-radius: 20px;
    font-style: italic;
}

/*

    SIDE TAB

*/

#sidetab {
    display: block;
    background-color: #273c4f;
    width: 250px;
    height: 100vh;
}

/*
    UPPER CONTENT
*/

#stprofile {
    display: block;
    color: white;
    text-align: center;
}

#stprofile i {
    margin-top: 30px;
    border: 1px solid white;
    background-color: white;
    color: #0056cd;
    border-radius: 25px;
    font-size: 50px;
}

#stprofile p {
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: 2px solid #213342;
    font-size: 20px;
}

#uppercontent {
    color: white;
}

#uppercontent i {
    margin-left: 18px;
    margin-bottom: 2px;
    vertical-align: middle;
}

#uppercontent p {
    text-align: left;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 17px;
    vertical-align: middle;
    transition: 0.5s;
}

#uppercontent p:hover {
    background-color: #304659;
    cursor: pointer;
    transition: 0.5s;
}

.activetab {
    background-color: #304659;
    border-bottom: 2px solid #213342;
}

/*
    LOWER CONTENT
*/
#lowercontent {
    border-top: 2px solid #213342;
    position: absolute;
    width: 250px;
    bottom: 0;
    color: white;
}

#lowercontent i {
    margin-left: 18px;
    margin-bottom: 2px;
    vertical-align: middle;
}

#lowercontent p {
    text-align: left;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 17px;
    vertical-align: middle;
    transition: 0.5s;
}

#lowercontent p:hover {
    background-color: #304659;
    cursor: pointer;
    transition: 0.5s;
}

/*

    CONTACTS TAB

*/

#contactstab {
    display: block;
    background-color: #edeff0;
    width: 22vw; /* Changeable */
    height: 100vh;
    border-right: 2px solid #dedede;
}

/*
    CTHEADER
*/

#ctheader {
    display: inline-block;
    background-color: white;
    border-bottom: 2px solid #dedede;
    width: 100%;
}

#ctheader p {
    display: inline-block;
    padding: 26px 80px 26px 30px;
    font-size: 20px;
}

#ctheader p i {
    vertical-align: middle;
    margin-bottom: 3px;
}

#ctheader button {
    display: inline-block;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 0;
    background-color: #0056cd;
    cursor: pointer;
    margin-right: 6px;
    vertical-align: middle;
    transition-duration: 0.5s;
}

#ctheader button:hover {
    color: #0056cd;
    border: 3px solid #0056cd;
    background-color: white;
    transition-duration: 0.5s;
}

/*
    CONTACTS LIST
*/

#contactslist {
    width: 100%;
    height: 70%;
    overflow-y: auto;
    overflow-x: hidden;
}

#contactslist p {
    font-size: 18px;
    color: #273c4f;
    margin-left: 10px;
}

.examplecontact {
    display: block;
    border-bottom: 1px solid #dedede;
    padding: 12px 0px 12px 30px;
    font-size: 16px;
    color: #273c4f;
    transition-duration: 0.5s;
}

.examplecontact p {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

.examplecontact i {
    vertical-align: middle;
}

.examplecontact:hover {
    background-color: white;
    transition-duration: 0.5s;
}

.examplecontact p:hover {
    color: #0056cd;
    text-decoration: underline;
    cursor: pointer;
}

/*

    FLEXVIEW

*/

#flexview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

#fvph {
    display: inline;
    margin-top: 10vh;
    text-align: center;
    padding: 60px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    background-color: #edeff0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#fvph p {
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 10px;
    font-size: 20px;
    color: #555;
    margin-bottom: 20px;
}

#fvph button {
    background-color: #273c4f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.5s;
}

#fvph button:hover {
    background-color: #304659;
    transition-duration: 0.5s;
}

#fvph button i {
    vertical-align: middle;
}

.contact-box {
    border: 1px solid #ccc;
    padding: 40px;
    margin: 10vh;
    border-radius: 8px;
    background-color: #edeff0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 18px;
}

.contact-content {
    display: flex;
    flex-direction: row;
}

.contact-details {
    width: 300px;
    margin-bottom: 10px;
}

.contact-photo i {
    color: white;
    font-size: 120px;
    margin-right: 30px;
    background-color: #273c4f;
    border: 2px solid #273c4f;
    border-radius: 61px;
    align-content: center;
}

.contact-details p {
    margin: 5px 0;
}

.contact-buttons {
    display: flex;
    justify-content: space-around;
    margin-left: 115px;
}

.contact-buttons button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 90px;
}

.contact-buttons button.update-btn {
    background-color: #3498db;
    color: white;
    transition: 0.35s;
    border: 3px solid #edeff0;
    border-radius: 10px;
}

.contact-buttons button.update-btn:hover {
    box-sizing: border-box;
    color: #3498db;
    background-color: white;
    border: 3px solid #3498db;
    border-radius: 10px;
    transition: 0.35s;
    font-weight: bold;
}

.contact-buttons button.delete-btn {
    background-color: #e74c3c;
    color: white;
    transition: 0.35s;
    border: 3px solid #edeff0;
    border-radius: 10px;
}

.contact-buttons button.delete-btn:hover {
    box-sizing: border-box;
    color: #e74c3c;
    background-color: white;
    border: 3px solid #e74c3c;
    border-radius: 10px;
    transition: 0.35s;
    font-weight: bold;
}

/*

    ADD POPUP

*/

#addPopup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

#addPopup .addPopupContent {
    width: 30vw;
    height: 25vh;
    background-color: #edeff0;
    color: #1a1d26;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 1;
    bottom: 125%;
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
}

input#contactfname {
    font-family: 'UBUNTU';
    font-size: 14.5px;
    padding: 2px;
    margin: 3px 0;
    border-radius: 4px;
    border: 1px solid #cccc;
    background-color: #f9f9f9;
    transition: border-color 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), box-shadow 0.3s ease-in-out;
}

input#contactfname:focus {
border-color:#063876;
box-shadow: 0 0 5px rgba(6,56,118,0.5);
outline:none;

}

input#contactlname {
    font-family: 'Ubuntu';
    font-size: 14.5px;
    padding: 2px;
    margin: 3px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: border-color 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), box-shadow 0.3s ease-in-out;
}


input#contactlname:focus { 
border-color:#063876;
box-shadow: 0 0 5px rgba(6,56,118,0.5);
outline:none;

}

input#contactemail {
    font-family: 'Ubuntu';
    font-size: 14.5px;
    padding: 2px;
    margin: 3px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: border-color 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), box-shadow 0.3s ease-in-out;
}

input#contactemail:focus { 
border-color:#063876;
box-shadow: 0 0 5px rgba(6,56,118,0.5);
outline:none;

}


input#contactphone {
    font-family: 'Ubuntu';
    font-size: 14.5px;
    padding: 2px;
    margin: 3px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: border-color 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), box-shadow 0.3s ease-in-out;
}

input#contactphone:focus { 
border-color:#063876;
box-shadow: 0 0 5px rgba(6,56,118,0.5);
outline:none;

}
p {
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

button#createcontactpop {

background-color: red;
    color: white;
    transition: 0.35s;
    border: 3px solid #edeff0;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 90px;
}



button#createContactBtn {

background-color: #3498db;
    color: white;
    transition: 0.35s;
    border: 3px solid #edeff0;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 90px;

}

/*

    UPDATE POPUP

*/

#updatePopup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

#updatePopup .updatePopupContent {
    width: 30vw;
    height: 25vh;
    background-color: #edeff0;
    color: #1a1d26;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 1;
    bottom: 125%;
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
}


input#ucontactfname {
    font-family: 'Ubuntu';
    font-size: 14px;
    /* border: beige; */
    padding: 2px;
    margin: 3px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: border-color 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), box-shadow 0.3s ease-in-out;
}

input#ucontactlname {
    font-family: 'Ubuntu';
    font-size: 14px;
    padding: 2px;
    margin: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: border-color 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), box-shadow 0.3s ease-in-out;
}

input#ucontactemail {
    font-family: 'Ubuntu';
    font-size: 14px;
    padding: 2px;
    margin: 3px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    transition: border-color 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), box-shadow 0.3s ease-in-out;
}

input#ucontactphone {
    font-family: 'Ubuntu';
    font-size: 14px;
    padding: 2px;
    margin: 3px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: border-color 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), box-shadow 0.3s ease-in-out;
}

p#ucontactid {
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

button#cancelupbttn {
    background-color: red;
    color: white;
    transition: 0.35s;
    border: 3px solid #edeff0;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 90px;
}

button#updateContactBtn {
    background-color: #3498db;
    color: white;
    transition: 0.35s;
    border: 3px solid #edeff0;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 90px;
}

/*

    DELETE POPUP

*/

#deletePopup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

#deletePopup .deletePopupContent {
    width: 20vw;
    height: 10vh;
    background-color: #edeff0;
    color: #1a1d26;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 1;
    bottom: 125%;
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
}




button#deletecancelbt {
    background-color: red;
    color: white;
    transition: 0.35s;
    border: 3px solid #edeff0;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 90px;
}


button#deleteContactBtn {
    background-color: #3498db;
    color: white;
    transition: 0.35s;
    border: 3px solid #edeff0;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 90px;
}

p#dcontactid {
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
